<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container ml-5">
  <div class="row">
    <a href="#" class="Escondido " style="margin-right: 1000px;">yes</a>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mt-3 mr-5" >
      <h1 class="text-center" style="margin-left: 80px;">Agenda</h1>
      <p class="text-center lead" style="margin-left: 80px;" >Seus contatos estão abaixo</p>
      <%- include('includes/messages') %>
    <div class="responsive-table mr-5">
      
      <table class="table my-3"  >
        <% contatos.forEach(contato => { %>
        <tr>
          <td ><%= contato.nome %></td>
          <td><%= contato.sobrenome %></td>
          <td><%= contato.email %></td>
          <td><%= contato.telefone %></td>
          <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
          <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Deletar</a></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>



    <div class="col-lg-2"></div>


    
  </div>
</div>
<%- include('includes/footer') %>
